.loader {
    border: 8px solid #161414; /* Light grey */
    border-top: 8px solid #a6b4be; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.foot
{

    background-color: #6e0606;
    color:rgb(21, 1, 1);
    margin-top:300px;
    margin-bottom:0px;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:0px;
    text-align:center;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;

    bottom: 0;
    width: 100%;


}
